.pic1{
    width: 350px;
    height: 550px;
    object-fit: contain;
}
.animeDiv{
    width: 350px;
    height: 800px;
  display: inline-block;
  border: 10px double coral;
  padding: 10px;
  text-align: justify;
  margin: 18px;
 
}
h1{
    text-align: center;
    color: rgb(108, 126, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
h1::first-letter{
    color: brown;font-size: xxx-large;
}
#bheem{
    background-image:url(./images/bheem\ bg.jpg);
    background-size: 350px 200px;
    background-repeat:repeat-y;
    background-position: center bottom;
   background-origin:padding-box;
   background-attachment: scroll;
   color: rgba(0, 128, 0, 0.815);

    }
#titan{
    background-image:url(./images/attac\ bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
   background-origin:padding-box;
   border: 10px dashed #969892;

}
#Dman{
    background-image:url(./images/doreaman\ bg.jpg);
    background-origin:padding-box;
    background-repeat: repeat;
    border:10px solid #252525 ;
    background-attachment: fixed;
    color:rgb(68, 0, 255);

}


#one{
    background-image:url(./images/one\ piece\ bg.jpg);
    background-size: contain;
    background-origin:content-box;
    background-repeat: repeat;
    border:10px inset #5656 ;
    color:rgb(131, 131, 2);
 
}
#naru{
    background-image:url(./images/naruto\ bg.jpg);
    background-origin:padding-box;
    background-position: center bottom;
    border:10px groove rosybrown ;
   
}
#ball{
    background-image:url(./images/dragon\ ball\ bg.jpg);
    background-size: contain;
    background-origin:content-box;
    background-repeat: repeat;
    border:10px ridge #542679 ;
   background-attachment:fixed;
 

}
